html {
    font-size: 14px;
}

body {
    font-family: 'メイリオ', 'Meiryo',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h5 {
    font-size: 16px;
}

a {
    color: #00BCC5;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

header > nav {
    padding: 24px 0 !important;
}

footer {
    width: 100%;
    height: 56px;
    background-color: #434343;
    position: absolute;
    bottom: 0;
}

.wrapper {
    min-height: 100vh;
    padding-bottom: 56px;
    position: relative;
}

.sec-title {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    position: relative;
}

.sec-title::after {
    content: "";
    display: block;
    height: 6px;
    border-radius: 2px;
    width: 4rem;
    background-color: #C60E31;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.explanation {
    background-color: #EDF6FB;
}

.img-box,
.img-box > img {
    height: 200px;
}

/* カルーセルスライダー */
.multiple-items {
    height: 200px;
    margin-bottom: 60px;
    position: relative;
}

.slick-slide {
    width: 100%;
}

.slick-slide > a > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.slick-arrow {
    z-index: 1;
}

.slick-next {
    right: 0;
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
}

.slick-prev:before,
.slick-next::before {
    font-size: 58px;
    opacity: 0.8;
    color: #434343;
}
/* カルーセルスライダーここまで */

.header-search-input {
    border-radius: 2px;
    border: solid 1px #e5e5e5;
}

.header-search-button {
    border-radius: 2px;
    background-color: #00BCC5 !important;
    transition: 0.1s;
}

.header-search-button:hover {
    opacity: 0.8;
}

.header-search-icon {
    color: #ffffff;
}

/* ページネーション */
.pagination {
    flex-wrap: wrap;
}

.page-item:first-child > .page-link:hover,
.page-item:last-child > .page-link:hover {
    opacity: 0.8;
}

.page-item:first-child .disabled > .page-link,
.page-item:last-child .disabled >.page-link {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #b2b2b2;
}

.page-item {
    margin: 0 3px;
}

.page-item .active > .page-link {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #b2b2b2 !important;
}

.page-item:first-child {
    margin: 0 3px 0 0;
}

.page-item:last-child {
    margin: 0 0 0 3px;
}

.page-link {
    border-radius: 2px;
    color: #00BCC5;
}

.page-link:hover {
    color: #00a3ac;
}

.page-link:focus {
    color: #00a3ac;
}

.active > .page-link {
    background-color: #00BCC5;
    border-color: #00BCC5;
}

.active > .page-link:hover {
    color: #ffffff;
}

.pagination > .page-item:not(:first-child).page-item:not(:last-child).disabled > .page-link {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.review-input,
.form-input,
.login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.check-label {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.require-input-label {
    border-radius: 2px;
    background-color: #e2001b;
    padding: 3px;
}

.require-input-label-text {
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.submit-button,
.comment-button,
.reply-button {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: #00BCC5 !important;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.1s;
}

.nav-link {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00BCC5;
}

.nav-link:focus {
    opacity: 0.8;
    color: #00BCC5;
}

.nav-link:hover {
    opacity: 0.8;
    color: #00BCC5;
}

.submit-button:hover,
.reply-button:hover {
    opacity: 0.8;
}

.review-score-color {
    color: #00BCC5;
}

.review-score-color:focus {
    color: #00BCC5;
}

.review-score-blank-color {
    color: #cccccc;
}

.reply-area {
    display: none;
}

/* アコーディオンメニュー */
.accordion-title {
    color: #00BCC5;
    cursor: pointer;
    position: relative;
}

.accordion-title::before {
    border-right: solid 2px #00BCC5;
    border-top: solid 2px #00BCC5;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    left: 0px;
    top: 28%;
    transform: rotate(135deg);
    transition: transform .1s ease-in-out, top .1s ease-in-out;
    width: 8px;
}

.accordion-title.open::before {
    top: 45%;
    transform: rotate(-45deg);
}

.accordion-content {
    display: none;
}
