html {
    font-size: 14px;
}

body {
    font-family: 'メイリオ', 'Meiryo',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

a {
    color: #00BCC5;
    text-decoration: none;
}

a:hover {
    color: #8ababc;
}

header > nav {
    padding: 24px 0 !important;
}

.explanation {
    background-color: #EDF6FB;
}

.title-border {
    width: 6.5vw;
    height: 0.5vw;
    margin: 0 auto;
    background-color: #c60d31;
}

.multiple-items {
    margin-bottom: 60px;
}

/* カルーセルスライダー */
.slick-prev {
    z-index: 1;
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
}

.slick-prev:before,
.slick-next::before {
    font-size: 58px;
    opacity: 0.8;
    color: #434343;
}
/* カルーセルスライダーここまで */

.login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.check-label {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.require-input-label {
    border-radius: 2px;
    background-color: #e2001b;
    padding: 3px;
}

.require-input-label-text {
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.submit-button {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: #00BCC5 !important;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.1s;
}

.submit-button:hover {
    opacity: 0.8;
}
